@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body {
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 8px;
}

h3 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}

span {
  overflow: hidden;
  color: #717680;
  text-overflow: ellipsis;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-product {
  width: 50px;
  height: 50px;
}

.container-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding-top: 10px;
  padding-bottom: 80px;
}
.body-home .welcome-ps {
  padding: 0px 24px;
}
.body-home .welcome-ps h2 {
  padding: 0px;
}
.body-home .welcome-ps p {
  color: #6b7280;
}
.body-home .actu-day {
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.body-home .actu-day .work-month h4 {
  padding-top: 8px;
}
.body-home .actu-day .work-day,
.body-home .actu-day .work-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.body-home .actu-day .work-day .rdv-work,
.body-home .actu-day .work-day .selection-check,
.body-home .actu-day .work-day .actu-month,
.body-home .actu-day .work-month .rdv-work,
.body-home .actu-day .work-month .selection-check,
.body-home .actu-day .work-month .actu-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.body-home .actu-day .work-day .rdv-work .icon,
.body-home .actu-day .work-day .selection-check .icon,
.body-home .actu-day .work-day .actu-month .icon,
.body-home .actu-day .work-month .rdv-work .icon,
.body-home .actu-day .work-month .selection-check .icon,
.body-home .actu-day .work-month .actu-month .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 16px 0px;
  width: 35%;
  background: #edeef1;
}
.body-home .actu-day .work-day .rdv-work .icon span,
.body-home .actu-day .work-day .selection-check .icon span,
.body-home .actu-day .work-day .actu-month .icon span,
.body-home .actu-day .work-month .rdv-work .icon span,
.body-home .actu-day .work-month .selection-check .icon span,
.body-home .actu-day .work-month .actu-month .icon span {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(65px, 10px);
          transform: translate(65px, 10px);
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 100px;
  font-size: 11px;
  color: white;
  text-align: center;
}
.body-home .actu-day .work-day .rdv-work .icon p,
.body-home .actu-day .work-day .selection-check .icon p,
.body-home .actu-day .work-day .actu-month .icon p,
.body-home .actu-day .work-month .rdv-work .icon p,
.body-home .actu-day .work-month .selection-check .icon p,
.body-home .actu-day .work-month .actu-month .icon p {
  font-size: 14px;
}
.body-home .actu-day .work-day .rdv-work .info-rdv-work,
.body-home .actu-day .work-day .rdv-work .info-selection-check,
.body-home .actu-day .work-day .rdv-work .info-actu-month,
.body-home .actu-day .work-day .selection-check .info-rdv-work,
.body-home .actu-day .work-day .selection-check .info-selection-check,
.body-home .actu-day .work-day .selection-check .info-actu-month,
.body-home .actu-day .work-day .actu-month .info-rdv-work,
.body-home .actu-day .work-day .actu-month .info-selection-check,
.body-home .actu-day .work-day .actu-month .info-actu-month,
.body-home .actu-day .work-month .rdv-work .info-rdv-work,
.body-home .actu-day .work-month .rdv-work .info-selection-check,
.body-home .actu-day .work-month .rdv-work .info-actu-month,
.body-home .actu-day .work-month .selection-check .info-rdv-work,
.body-home .actu-day .work-month .selection-check .info-selection-check,
.body-home .actu-day .work-month .selection-check .info-actu-month,
.body-home .actu-day .work-month .actu-month .info-rdv-work,
.body-home .actu-day .work-month .actu-month .info-selection-check,
.body-home .actu-day .work-month .actu-month .info-actu-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4px;
}
.body-home .actu-day .work-day .rdv-work .info-rdv-work p span,
.body-home .actu-day .work-day .rdv-work .info-selection-check p span,
.body-home .actu-day .work-day .rdv-work .info-actu-month p span,
.body-home .actu-day .work-day .selection-check .info-rdv-work p span,
.body-home .actu-day .work-day .selection-check .info-selection-check p span,
.body-home .actu-day .work-day .selection-check .info-actu-month p span,
.body-home .actu-day .work-day .actu-month .info-rdv-work p span,
.body-home .actu-day .work-day .actu-month .info-selection-check p span,
.body-home .actu-day .work-day .actu-month .info-actu-month p span,
.body-home .actu-day .work-month .rdv-work .info-rdv-work p span,
.body-home .actu-day .work-month .rdv-work .info-selection-check p span,
.body-home .actu-day .work-month .rdv-work .info-actu-month p span,
.body-home .actu-day .work-month .selection-check .info-rdv-work p span,
.body-home .actu-day .work-month .selection-check .info-selection-check p span,
.body-home .actu-day .work-month .selection-check .info-actu-month p span,
.body-home .actu-day .work-month .actu-month .info-rdv-work p span,
.body-home .actu-day .work-month .actu-month .info-selection-check p span,
.body-home .actu-day .work-month .actu-month .info-actu-month p span {
  font-size: 14px;
  font-weight: normal;
  color: #25272c;
}
.body-home .actu-past {
  padding: 0px 24px;
}
.body-home .actu-past .user-actu-past {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-home .actu-past .user-actu-past .initial {
  font-size: 12px;
  padding: 12px 10px;
  margin: 8px 8px 8px 0px;
  border-radius: 100px;
  background: #d9d9d9;
  text-overflow: initial;
}
.body-home .actu-past .user-actu-past p {
  text-overflow: ellipsis;
}
.body-home .actu-past .user-actu-past p span {
  font-size: 14px;
  font-weight: normal;
}

.body-profil {
  margin: 0 auto;
  gap: 16px;
}
.body-profil .all-client {
  padding: 4px 24px 120px;
}
.body-profil .all-client .count-users {
  text-align: center;
  margin: 20px;
}
.body-profil .all-client .users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 100%;
  gap: 16px;
}
.body-profil .all-client .users-container .input-container {
  position: fixed;
  left: 0;
  bottom: 70px;
  left: 24px;
  right: 24px;
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  border: 1px solid rgb(182, 182, 182);
  -webkit-box-shadow: inset 1px 1px 10px 0px rgba(104, 104, 104, 0.1);
          box-shadow: inset 1px 1px 10px 0px rgba(104, 104, 104, 0.1);
  background: rgb(255, 255, 255);
}
.body-profil .all-client .users-container .input-container .fa-sistrix {
  font-size: 1rem;
  margin: auto 0px auto 20px;
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .input-container .input-search {
  padding: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.body-profil .all-client .users-container .input-container .input-search::-webkit-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .input-container .input-search::-moz-placeholder {
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .input-container .input-search:-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .input-container .input-search::-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .input-container .input-search::placeholder {
  color: black;
  opacity: 0.7;
}
.body-profil .all-client .users-container .link-container p {
  padding-top: 8px;
  margin-top: 8px;
}
.body-profil .all-client .users-container .link-container .card-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-decoration: none;
}
.body-profil .all-client .users-container .link-container .card-user-container .card-user-container:hover {
  background: rgba(255, 0, 0, 0.238);
}
.body-profil .all-client .users-container .link-container .card-user-container img {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.body-wishlist {
  width: 100%;
  padding: 0px 0px 120px;
  margin: 0 auto;
}
.body-wishlist h2 {
  padding: 20px 34px 10px;
  width: 100%;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  text-decoration: none;
  background: #ffffff;
  border-top: 2px solid #717680;
}
.nav-bar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  padding: 10px 20px;
  font-size: 0.5rem;
  color: #717680;
}
.nav-bar .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  text-decoration: none;
  color: #717680;
}
.nav-bar .nav-item a svg {
  fill: #717680;
}
.nav-bar .nav-item:focus, .nav-bar .nav-item:hover {
  color: #25272c;
}
.nav-bar .nav-item:focus a, .nav-bar .nav-item:hover a {
  color: #25272c;
}
.nav-bar .nav-item:focus a svg, .nav-bar .nav-item:hover a svg {
  fill: #25272c;
}

.body-user {
  margin: 0 auto;
  padding: 0px 0px 120px;
  gap: 16px;
  width: 100%;
}
.body-user .profil-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(235, 235, 235);
  padding: 32px 24px;
  background: #25272c;
  color: white;
}
.body-user .profil-container .profil-card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  gap: 8px;
}
.body-user .profil-container .profil-card-name img {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}
.body-user .profil-container .profil-card-name .profil-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 4px;
}
.body-user .profil-container .profil-card-name .profil-name h3 {
  color: #f7f8f8;
}
.body-user .profil-container .list-engage {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.body-user .profil-container .list-engage .item-engage {
  padding: 16px;
}
.body-user .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.body-user .main-container .main-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 1px;
  border: 1px solid #25272c;
  background: #25272c;
}
.body-user .main-container .main-title .btn-container {
  width: 100%;
  border: 1px solid transparent;
  background: #25272c;
}
.body-user .main-container .main-title .btn-container .btn-h4 {
  cursor: pointer;
  padding: 14px;
  text-decoration: underline;
  width: 100%;
  color: white;
}
.body-user .main-container .main-title .active-general {
  border: 1px solid #25272c;
  background: white;
}
.body-user .main-container .main-title .active-general .btn-h4 {
  color: #25272c;
}
.body-user .main-container .main-title .active-histo {
  border: 1px solid #25272c;
  background: white;
}
.body-user .main-container .main-title .active-histo .btn-h4 {
  color: #25272c;
}
.body-user .main-container .class-event-useref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.body-user .main-container .class-event-useref .card-user-main {
  padding: 0px 24px;
}
.body-user .main-container .class-event-useref .card-user-main h3 {
  margin-bottom: 8px;
}
.body-user .main-container .class-event-useref .card-user-main .list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}
.body-user .main-container .class-event-useref .card-user-main .list-main .item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-user .main-container .class-event-useref .card-user-main .list-main .item-main p:nth-child(2) {
  font-size: 14px;
  font-weight: normal;
  color: #4a4e5a;
}
.body-user .main-container .class-event-useref .card-user-main .list-main .item-main:nth-child(6) p:nth-child(2) {
  text-transform: uppercase;
}
.body-user .main-container .class-event-useref .like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 24px;
}
.body-user .main-container .class-event-useref .like-container h3 {
  margin-bottom: 12px;
}
.body-user .main-container .class-event-useref .like-container .like-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-left img {
  border-radius: 100%;
  height: 144px;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right p span {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgb(173, 173, 173);
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right:nth-child(3) p:nth-child(1) span {
  background: #bce4ac;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right:nth-child(3) p:nth-child(2) span {
  background: #abcbe3;
}
.body-user .main-container .class-event-useref .like-container .like-position .like-component .like-right:nth-child(3) p:nth-child(3) span {
  background: #e8cdb5;
}
.body-user .histo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 24px;
}
.body-user .histo-container .product-interaction-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-user .histo-container .product-interaction-container .shop-view-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.body-user .histo-container .product-interaction-container .shop-view-title-container .shop-view-cotnainer {
  border-bottom: 1px solid transparent;
}
.body-user .histo-container .product-interaction-container .shop-view-title-container .shop-view-cotnainer h4 {
  cursor: pointer;
  padding: 8px 0px 8px;
  width: 100%;
}
.body-user .histo-container .product-interaction-container .shop-view-title-container .active-shop {
  border-bottom: 1px solid #25272c;
}
.body-user .histo-container .product-interaction-container .shop-view-title-container .active-view {
  border-bottom: 1px solid #25272c;
}
.body-user .histo-container .product-interaction-container .same-style-container .info-buy-container h4 {
  padding: 4px 0px;
}
.body-user .histo-container .product-interaction-container .same-style-container .info-buy-container p ~ p {
  padding: 4px 0px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8px 0px;
  gap: 16px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin: 8px 0px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .img-container {
  width: auto;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .img-container .img-product {
  width: 80px;
  height: 80px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .product-name {
  text-overflow: ellipsis;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left span {
  padding: 2px 0px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .product-brand {
  font-weight: 600;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .span-snr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .span-snr .shop {
  color: #318510;
  border: 1px solid #bce4ac;
  background: #f8fdf7;
  padding: 0px 4px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .span-snr .net {
  color: #0075ca;
  border: 1px solid #abcbe3;
  background: #f5fbff;
  padding: 0px 4px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .span-snr .refund {
  color: #b46017;
  border: 1px solid #e8cdb5;
  background: #fdf7f2;
  padding: 0px 4px;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .description-left .product-params {
  color: #25272c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.body-user .histo-container .product-interaction-container .same-style-container .product-card-user-container .product-card-user .description-container .price-product {
  color: #25272c;
  font-weight: 600;
}
.body-user .histo-container .product-interaction-container .buy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-user .histo-container .product-interaction-container .view-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-book,
.body-wishlist {
  width: 100%;
  padding: 0px 0px 120px;
  margin: 0 auto;
}
.body-book h2,
.body-wishlist h2 {
  padding: 20px 34px 10px;
  width: 100%;
}
.body-book .card-product-container,
.body-book .card-product-wish,
.body-wishlist .card-product-container,
.body-wishlist .card-product-wish {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.body-book .card-product-container .input-container,
.body-book .card-product-wish .input-container,
.body-wishlist .card-product-container .input-container,
.body-wishlist .card-product-wish .input-container {
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 70px;
  left: 24px;
  right: 24px;
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  border: 1px solid rgb(182, 182, 182);
  -webkit-box-shadow: inset 1px 1px 10px 0px rgba(104, 104, 104, 0.1);
          box-shadow: inset 1px 1px 10px 0px rgba(104, 104, 104, 0.1);
  background: rgb(255, 255, 255);
}
.body-book .card-product-container .input-container .fa-sistrix,
.body-book .card-product-wish .input-container .fa-sistrix,
.body-wishlist .card-product-container .input-container .fa-sistrix,
.body-wishlist .card-product-wish .input-container .fa-sistrix {
  font-size: 1rem;
  margin: auto 0px auto 20px;
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .input-container .input-search,
.body-book .card-product-wish .input-container .input-search,
.body-wishlist .card-product-container .input-container .input-search,
.body-wishlist .card-product-wish .input-container .input-search {
  padding: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.body-book .card-product-container .input-container .input-search::-webkit-input-placeholder, .body-book .card-product-wish .input-container .input-search::-webkit-input-placeholder, .body-wishlist .card-product-container .input-container .input-search::-webkit-input-placeholder, .body-wishlist .card-product-wish .input-container .input-search::-webkit-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .input-container .input-search::-moz-placeholder, .body-book .card-product-wish .input-container .input-search::-moz-placeholder, .body-wishlist .card-product-container .input-container .input-search::-moz-placeholder, .body-wishlist .card-product-wish .input-container .input-search::-moz-placeholder {
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .input-container .input-search:-ms-input-placeholder, .body-book .card-product-wish .input-container .input-search:-ms-input-placeholder, .body-wishlist .card-product-container .input-container .input-search:-ms-input-placeholder, .body-wishlist .card-product-wish .input-container .input-search:-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .input-container .input-search::-ms-input-placeholder, .body-book .card-product-wish .input-container .input-search::-ms-input-placeholder, .body-wishlist .card-product-container .input-container .input-search::-ms-input-placeholder, .body-wishlist .card-product-wish .input-container .input-search::-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .input-container .input-search::placeholder,
.body-book .card-product-wish .input-container .input-search::placeholder,
.body-wishlist .card-product-container .input-container .input-search::placeholder,
.body-wishlist .card-product-wish .input-container .input-search::placeholder {
  color: black;
  opacity: 0.7;
}
.body-book .card-product-container .card-product,
.body-book .card-product-wish .card-product,
.body-wishlist .card-product-container .card-product,
.body-wishlist .card-product-wish .card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  margin: 8px 0px;
  gap: 16px;
}
.body-book .card-product-container .card-product .product-card-book,
.body-book .card-product-wish .card-product .product-card-book,
.body-wishlist .card-product-container .card-product .product-card-book,
.body-wishlist .card-product-wish .card-product .product-card-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin: 8px 0px;
}
.body-book .card-product-container .card-product .product-card-book .img-container,
.body-book .card-product-wish .card-product .product-card-book .img-container,
.body-wishlist .card-product-container .card-product .product-card-book .img-container,
.body-wishlist .card-product-wish .card-product .product-card-book .img-container {
  width: 100%;
  position: relative;
}
.body-book .card-product-container .card-product .product-card-book .img-container .img-product,
.body-book .card-product-wish .card-product .product-card-book .img-container .img-product,
.body-wishlist .card-product-container .card-product .product-card-book .img-container .img-product,
.body-wishlist .card-product-wish .card-product .product-card-book .img-container .img-product {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.body-book .card-product-container .card-product .product-card-book .img-container .add-wishlist,
.body-book .card-product-wish .card-product .product-card-book .img-container .add-wishlist,
.body-wishlist .card-product-container .card-product .product-card-book .img-container .add-wishlist,
.body-wishlist .card-product-wish .card-product .product-card-book .img-container .add-wishlist {
  position: absolute;
  top: 16px;
  right: 0;
  border: none;
  background: #25272c;
  padding: 8px;
  display: grid;
  place-content: center;
}
.body-book .card-product-container .card-product .product-card-book .img-container .styleLikeBtn path,
.body-book .card-product-wish .card-product .product-card-book .img-container .styleLikeBtn path,
.body-wishlist .card-product-container .card-product .product-card-book .img-container .styleLikeBtn path,
.body-wishlist .card-product-wish .card-product .product-card-book .img-container .styleLikeBtn path {
  fill: #f58625;
}
.body-book .card-product-container .card-product .product-card-book .description-container,
.body-book .card-product-wish .card-product .product-card-book .description-container,
.body-wishlist .card-product-container .card-product .product-card-book .description-container,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .product-name,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .product-name,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .product-name,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .product-name {
  text-overflow: ellipsis;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left span,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left span,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left span,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left span {
  padding: 2px 0px;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .price,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .price,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .price,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .price {
  font-size: 10px;
  width: auto;
  color: #25272c;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .span-snr,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .span-snr,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .shop,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .shop,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .shop,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .shop {
  color: #318510;
  border: 1px solid #bce4ac;
  background: #f8fdf7;
  padding: 0px 4px;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .net,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .net,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .net,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .net {
  color: #0075ca;
  border: 1px solid #abcbe3;
  background: #f5fbff;
  padding: 0px 4px;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .refund,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .refund,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .span-snr .refund,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .span-snr .refund {
  color: #b46017;
  border: 1px solid #e8cdb5;
  background: #fdf7f2;
  padding: 0px 4px;
}
.body-book .card-product-container .card-product .product-card-book .description-container .description-left .product-params,
.body-book .card-product-wish .card-product .product-card-book .description-container .description-left .product-params,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .description-left .product-params,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .description-left .product-params {
  color: #25272c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.body-book .card-product-container .card-product .product-card-book .description-container .price-product,
.body-book .card-product-wish .card-product .product-card-book .description-container .price-product,
.body-wishlist .card-product-container .card-product .product-card-book .description-container .price-product,
.body-wishlist .card-product-wish .card-product .product-card-book .description-container .price-product {
  color: #25272c;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */